*.class

# Package Files #
*.jar
*.war
*.ear
/bin

# Eclipse #
.classpath
.project
/.settings

# Assets #
/lib[s]
/dep[s]
/assets

# File System #
/data/fs
/data/savedGames

# Plugins #
server/compiled-plugins
server/bin
